body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(260, 2%, 65%);
}

main {
  width: 90%;
  margin: 5% auto;
}

.sub,
.copy,
h1 {
  text-align: center;
}

.sub {
  font-weight: 200;
  font-size: 24px;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  color: hsl(234, 12%, 34%);
}

.card {
  background-color: hsl(0, 100%, 100%);
  border-radius: 5px;
  padding: 16px 24px;
  margin-bottom: 24px;
  box-shadow: 0 10px 10px hsl(214, 40%, 89%);
  display: g;
}

.card h2 {
  color: hsl(240, 8%, 37%);
}

.card p {
  font-size: 14px;
}

#supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}

#team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}

#karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

img {
  display: block;
  margin-top: 32px;
  margin-left: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  .sub {
    font-size: 32px;
  }

  h1 {
    font-weight: 700;
    font-size: 31px;
  }

  .copy {
    width: 50%;
    margin: 20px auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container:first-child,
  .container:last-child {
    align-items: center;
  }

  .card {
    margin: 5%;
  }
}
